body {
	background-image: url("../img/background.jpg");
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
}

.about {
	text-align: center;
}

#self-pic {
	border-radius: 50%;
	width: 250px;
}

.about-text {
	/*background-color: rgba(255,0,0,0.5);*/
	font-size: 20px;
	color: white;
}

.navbar {
	/*background-color: rgb(213, 144, 144);*/
	background-color: rgb(153, 84, 107);
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav.navbar-right li a:hover {
    color: rgb(204, 255, 204);
}

.navbar-inverse .navbar-brand {
  color: white;
  font-weight: 900;
  font-size: 40px;
}

.navbar-inverse .navbar-brand:hover{
  color: rgb(204, 255, 204);
}

.proj-list {
	padding-left: 20px;
	padding-bottom: 20px;
}

/* Resume */

.resume-outer {
	text-align: center;
	/*height: 1000px;*/
}

object {
	width: 600px;
	height: 800px;
}

/* Education */

.edu {
	background-color: white;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px;
	border: rgb(241, 218, 218) 2px solid;
}

.uni {
	background-color: transparent;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px;
	padding-left: 150px;
}

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}

.navbar {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.term{
	font-size: 25px;
	color: rgb(153, 84, 107);
}

.uni .title {
	font-size: 27px;
	font-weight: 900;
}

.uni .time {
	font-size: 18px;
}

.future {
	font-size: 25px;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/* Projects */

.proj {
	border: 1px white solid;
	border-radius: 5px;
	background-color: white;
	margin: 10px;
	text-align: center;
	padding: auto;
}

.img-responsive {
	margin: auto;
}

.proj a {
	font-size: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: rgb(153, 84, 107);
}


.proj a:hover {
	font-size: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: rgb(26, 0, 8);
	text-decoration: none;
}

/* Contact */

.contact {
	font-size: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
	text-align: center;
	
}