body {
	background-image: url("../img/back.jpg");
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: white;
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(http://themes.googleusercontent.com/static/fonts/karla/v2/QT0qO2FiFD03cwUe_t62t6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'), url(http://themes.googleusercontent.com/static/fonts/karla/v2/3nZS3BKzlvhkwl4yjCQcjHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: local('Karla Italic'), local('Karla-Italic'), url(http://themes.googleusercontent.com/static/fonts/karla/v2/ietJ6bjhwzrJL8NSJOc2mgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/karla/v2/VZ08RdiotRdV1D0ewK-mxL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

.about {
	text-align: center;
}

#self-pic {
	border-radius: 50%;
	width: 250px;
}

.about-text {
	/*background-color: rgba(255,0,0,0.5);*/
	font-size: 20px;
	color: white;
}

.navbar {
	background-color: black;
	font-family: 'Karla', sans-serif;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav.navbar-right li a:hover {
    color: rgb(191, 191, 191);
}

.navbar-inverse .navbar-brand {
  color: white;
  font-size: 40px;
}

.navbar-inverse .navbar-brand:hover{
  color: rgb(191, 191, 191);
}

.proj-list {
	padding-left: 20px;
	padding-bottom: 20px;
}

.navbar {
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	font-family: "Karla", sans-serif;
}

/* Education */

.edu {
	background-color: white;
	color: black;
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	font-family: "Karla", sans-serif;
	font-size: 20px;
	border: rgb(0, 0, 0) 2px solid;
}

.uni {
	background-color: transparent;
	color: white;
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	font-family: "Karla", sans-serif;
	font-size: 20px;
	padding-left: 150px;
}

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}

.term{
	font-size: 25px;
	color: rgb(38, 165, 153);
}

.uni .title {
	font-size: 27px;
	font-weight: 900;
}

.uni .time {
	font-size: 18px;
}

.future {
	font-size: 25px;
	color: white;
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	font-family: "Karla", sans-serif;
}

/* Projects */

.img-responsive {
	margin: auto;
}

.proj a {
	font-size: 20px;
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	font-family: "Karla", sans-serif;
	color: rgb(38, 165, 153);
}


.proj a:hover {
	font-size: 20px;
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	font-family: "Karla", sans-serif;
	color: rgb(26, 0, 8);
	text-decoration: none;
}


/* TEXT ON INDEX */
.intro {
	text-align: center;
	color: white;
	background:rgba(255,255,255,0.5);
	height: 150px;
	position: absolute;
	top: 400px;
	width: 100%;
}

.main-text {
	text-align: center;
	color: black;
}

.exp-text {
	color: black;
}

.exp-date {
	color: #333333;
}

.exp-job {
	font-size: 35px;
}

.exp-title {
	font-size: 25px;
}

.exp-info {
	font-size: 20px;
}

.main-heading {
	text-align: center;
	color: black;
	text-shadow: 1px 1px #333333;
}

.main-name {
	font-size: 70px;
	font-weight: strong;
	text-shadow: 2px 2px black;
}

/* MAIN DIVISIONS ON INDEX */

.main-intro {
	background-color: transparent;
	min-height: 700px;
}

.main-about {
	background-color: white;
	min-height: 700px;
}

.main-break {
	background-color: transparent;
	color: white;
	height: 200px;
}

.main-exp {
	background-color: white;
	min-height: 700px;
}

.main-teal {
	background-color: teal;
	min-height: 700px;
}

.main-end {
	background-color: transparent;
	height: 350px;
	width: 100%;
}

.main-contact {
	background-color: white;
	color: black;
	width: 100%;
	font-size: 18px;
	font-family: "Karla", sans-serif;
	text-align: center;
}

/* COLUMNS */

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.container {
	/*background-color: red;*/
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
	text-align: center;
}
.col-fixed {
    /* custom width */
    width:420px;
}

.col-fixed .about-me {
    /* custom width */
    width:300px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:300px;
	min-width:300px;
	
}

/* visual styles */
[class*="col-"] {
    padding-top:10px;
    padding-bottom:15px;
}
[class*="col-"]:before {
    display:block;position:relative;
    margin-bottom:8px;
	font-family: "Karla", sans-serif;
	font-size:10px;
    letter-spacing:1px;
    text-align:left;
}
.item {
    width:100%;
    height:100%;
    padding:16px 8px;
	background-color: white;
	border-radius: 15px;
}

/* content styles */
.item {
	display:table;
}
.content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.content:before {
    font-family: "Karla", sans-serif;
    font-size:12px;
    letter-spacing:1px;
    color:#747474;
}