#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
 
.game {
    border: 1px #4D4D4D solid;
    border-radius:15px;
    margin: 10px;
    height: 1010px;
    width: 970px;
    float: left;
}
 
.setupGame {
    position: absolute;
    top: 600px;
    left: 100px;
    font-size: 25px;
}
 
.instruction{
    position: absolute;
    top: 720px;
    color: #999966;
    border: 1px #E6E6E6 solid;
    border-radius:15px;
    width: 800px;
    height: 260px;
    margin-left: 80px;
}
 
/* text */
 
.name {
    color: #999966;
    font-variant: small-caps;
    font-size: 30px;
    margin-top: 30px;           
    font-weight: 550;
}
 
.selectText {
    font-size: 25px;
    color: #999966;
}
 
.selectOptions {
    border: 1px solid #ccc;
    width: 100px;
    width: 100px;
    height: 40px;
    vertical-align: middle;
    border-radius:15px;
    overflow: hidden;
    display: inline-block;
}
 
.selectOptions select {
    font-size: 25px;
    color: #999966;
    vertical-align: middle;
    border-radius:15px;
    padding: 5px 8px;
    width: 130%;
    height: 40px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    display: inline-block;
}
 
.selections {
    position:absolute;
    top: 500px;
}
 
button {
    height: 40px;
    border-radius:15px;
    border: 1px #E6E6E6 solid;
    font-size: 25px;
    background-color: #E6E6E6;
    color: #4C4C33;
}
 
.selectTower {
    width: 70px;
}
 
.gameB {
    width: 100px;
}
 
.reset {
    position: absolute;
    left: 570px;
}
 
.insTitle {
    margin: 10px;
    font-size: 25px;
    color: #999966;
    text-decoration: underline;
}
 
.ins {
    font-size: 25px;
}
 
ul {
    font-size: 20px;
}
 
/* Towers */
 
.tower-area {
    border: 1px #E6E6E6 solid;
    border-radius:15px;
    margin: 10px;
    margin-top: 90px;
    width: 300px;
    height: 300px;
    float: left;
}
 
.towers {
    height: 300px;
    width: 25px;
    background-color: #4D4D4D;
    position: relative;
    left: 130px;
    border-radius:15px;
}
 
.base {
    border: 1px #4D4D4D solid;
    position: relative;
    background-color: #4D4D4D;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    width: 945px;
    top: 380px;
    border-radius:15px;
}
 
/* Buttons */
 
.button1 {
    position:absolute;
    left: 120px;
}
 
.button2 {
    position:absolute;
    left: 440px;
}
 
.button3 {
    position:absolute;
    left: 765px;
}
 
/* Discs */
 
.discs {
    position:absolute;
    height: 20px;
    border: 1px #4D4D4D solid;
    border-radius:15px;
    box-shadow: 1px 1px 1px #363636;
}
 
.disc9 {
    /* green */
    background-color: #CCFF99;
    width: 170px;
    left: -75px;
}
 
.disc8 {
    /* purple */
    background-color: #5C00E6;
    width: 155px;
    left: -67.5px;
}
 
.disc7 {
    /* orange */
    background-color: #FF9933;
    width: 140px;
    left: -60px;
}
 
.disc6 {
    /* blue */
    background-color: #3366FF;
    width: 125px;
    left: -52.5px;
}
 
.disc5 {
    /* yellow */
    background-color: #FFFF66;
    width: 110px;
    left: -45px;
}
 
.disc4 {
    /* pink */
    background-color: #FF6699;
    width: 95px;
    left: -37.5px;
}
 
.disc3 {
    /* aqua */
    background-color: #5CE6B8;
    width: 80px;
    left: -30px;
}
 
.disc2 {
    /* dark blue */
    background-color: #1A1A80;
    width: 65px;
    left: -22.5px;
}
 
.disc1 {
    /* red */
    background-color: #FF0000;
    width: 50px;
    left: -15px;
}
 
/* Levels */
.level9 {
    top: 110px;
}
 
.level8 {
    top: 130px;
}
 
.level7 {
    top: 150px;
}
 
.level6 {
    top: 170px;
}
 
.level5 {
    top: 190px;
}
 
.level4 {
    top: 210px;
}
 
.level3 {
	top: 230px;
}
 
.level2 {
    top: 250px;
}
 
.level1 {
	top: 270px;
}
 
/* Selected */
 
.selected {
    border: 2px solid #FFFF00;
}